<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<properties>-->
    <!--<property name="_defaultDatabaseId" value="mysql"/>&lt;!&ndash;使用的数据库类型(目前仅支持oracle,mysql)&ndash;&gt;-->
    <!--</properties>-->

    <settings>
        <!-- xml配置对于NULL值默认作为字符串来处理 -->
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.augurit.agcloud.bsc.domain"/>
        <package name="com.augurit.agcloud.opus.common.domain"/>
        <package name="com.augurit.agcloud.meta.domain"/>
        <package name="com.augurit.agcloud.bpm.common.domain"/>
        <package name="org.flowable.app.domain.editor"/>
        <package name="com.augurit.agcloud.aoa.domain"/>
        <package name="com.augurit.aplanmis.common.domain"/>
        <package name="com.augurit.agcloud.agx.common.domain"/>

        <package name="com.augurit.agcloud.bpm.admin.qingjia.domain"/>
        <package name="com.augurit.demo.domain"/>

    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler"
                     javaType="com.augurit.aplanmis.common.constants.PublishStatus"/>
        <typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler"
                     javaType="com.augurit.aplanmis.common.constants.DeletedStatus"/>
        <typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler"
                     javaType="com.augurit.aplanmis.common.constants.ActiveStatus"/>
        <typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler"
                     javaType="com.augurit.aplanmis.common.constants.InOutStatus"/>
        <typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler"
                     javaType="com.augurit.aplanmis.common.constants.NeedStateStatus"/>
        <typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler"
                     javaType="com.augurit.aplanmis.common.constants.InOutType"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
        </plugin>
    </plugins>

    <mappers>
        <!-- 集成flowable-modeler 扫描对应的mappsers xml -->
    </mappers>

</configuration>
